.controlledEditor{
    color: white;
    /* height: 58vh; */
}

.container{
    flex-grow:1;

display:flex;
flex-direction:column;
padding: 0 8px;
height:61.5vh;
}

.contentHeader{
    display: flex;
    background: black;
    color:white;
    justify-content:space-between;
    font-weight:600;
    padding-top:0;
} 

.heading {
background:#1d1e22;
display:flex;
padding:9px 12px;
height:2vh;
}

.symbol{
    display:flex;
justify-content:flex-end;
margin:2px;
}