*{
  margin: 0;
  padding: 0;
}

.CodeMirror{
  height: 340px !important;
  color: white;
}

.CodeMirror-gutters {
  background:#1d1e22 !important;
}
.CodeMirror-scroll {
  background:#1d1e22 !important;
}

button:hover{
border:2px solid rgba(95, 255, 47, 0.323);
}

